*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f9;
}

.container{
    width: 90%;
    max-width: 1000px;
    margin: 40px auto;
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
}

.container-flex{
    display:flex;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

h1{
    color: #2c3e50;
}

.btn{
    text-decoration: none;
    background-color: #27ae60;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}

.btn:hover{
    background-color: #219150;
}

table{
    width: 100%;
    border-collapse: collapse;
}

th{
    background-color: #2c3e50;
    color: white;
    padding: 12px;
    text-align: left;
}

td{
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

tr:hover{
    background-color: #f8f8f8;
}

.btn-editar{
    text-decoration: none;
    background-color: #3498db;
    color: white;
    padding: 6px 10px;
    border-radius: 4px;
}

.btn-excluir{
    text-decoration: none;
    background-color: #e74c3c;
    color: white;
    padding: 6px 10px;
    border-radius: 4px;
    margin-left: 5px;
}

.grupo-form{
    margin-bottom: 20px;
}

.grupo-form label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.grupo-form input{
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px;
    font-size: 15px;
}

.botoes{
    margin-top: 20px;
}

.btn-salvar{
    background-color: #27ae60;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

.btn-salvar:hover{
    background-color: #219150;
}

.btn-cancelar{
    text-decoration: none;
    background-color: #eb5050;
    color: rgb(255, 255, 255);
    padding: 10px 18px;
    border-radius: 5px;
    margin-left: 10px;
}

.btn-cancelar:hover{
    background-color: #6c7a7b;
}

#contador{
    display: block;
    margin-top: 5px;
    color: #666;
    font-size: 12px;
}

.input-reduzido{
    width: 82px;
}

.input-maior{
    width: 100%;
}

.card-produto{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.card-produto h2{
    margin-bottom: 15px;
    color: #2c3e50;
}

.card-produto p{
    margin-bottom: 8px;
}

.acoes{
    margin-top: 15px;
}

select{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.button-venda{
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.button-item{
    background-color: #3a67bb;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

.input-medio{
    width: 40%;
}